@import "abstracts/variables";
@import "abstracts/breakpoints";

.general {
  height: fit-content;
  width: 100%;
  padding: 160px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $grey-light;

  @include breakpoint(xs) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include breakpoint(sm) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include breakpoint(md) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.flexrow {
  display: flex;
  flex-direction: row;

  @include breakpoint(xs) {
    flex-direction: column;
  }
  @include breakpoint(sm) {
    flex-direction: column;
  }
}
.flexcolumn {
  display: flex;
  flex-direction: column;
}

.componentspacing {
  margin-bottom: 80px;
}

.flexrowplain{
  display: flex;
  flex-direction: row;
}

.relative{
  position: relative;
}

.link{
  color: $primary;
  cursor: pointer;
  font-weight: 700;
}

.form{
  width: 100%;
  >*{
    margin-bottom: 16px;
  }

  input[type=text], 
  input[type=email] {
    border: 1px solid $text-extra-light;
    border-radius: 8px;
    width:100%;
    height: 40px;
    padding-left: 8px;
    outline: none;
  }

  input[type=submit]{
    width:100%;
    height: 40px;
    background: $primary;
    color: $white;
    border-radius: 8px;
    border:none;
    outline:none;
  }

  label{
    font-size: 0.8rem;
    margin-bottom: 4px;
  }
}