$primary: #8755de;
$secondary: #39145d;

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    flex-direction: row;
    padding: 24px 48px;
    max-width: 100vw;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    // border:1px solid red;
    background:#fff;

    button{
        border:none;
        font-size:1rem;
    }

    
    &__logo{
        max-width: 200px;
        max-height: 40px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    &__controls{
        button{
            margin-left: 8px;
            margin-right: 8px;
            background: none;
            
        }
    }

    &__download{
        button{
            background:$primary;
            color:#fff;
            padding: 16px 24px;
            border-radius: 40px
        }
    }
}