@import "abstracts/variables";
@import "abstracts/breakpoints";

.about {
  height: fit-content;
  width: 100%;
  padding-top: 160px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  line-height: 40px;
  background: $grey-light;

  @include breakpoint(md) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include breakpoint(lg) {
    padding-left: 160px;
    padding-right: 160px;
  }

  &__top {
    display: flex;
    flex-direction: column-reverse;

    @include breakpoint(md) {
      flex-direction: row;
    }
    @include breakpoint(lg) {
      flex-direction: row;
    }

    &__right {
      
      @include breakpoint(sm) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      @include breakpoint(md) {
        margin:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      @include breakpoint(lg) {
        margin:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    &__left{
      @include breakpoint(md){
        width: 50%;
      }
      @include breakpoint(lg){
        padding-right:40px;
        width: 50%;
      }
    }

    img {
      width: 100%;
    }

    &__title {
      text-align: center;
      background: linear-gradient(89.59deg, #b79ee0 -2.22%, #ff635e 140.1%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__topright {
    &__container {
      @include breakpoint(sm) {
        display: flex;
        flex-direction: row;
      }
      @include breakpoint(md) {
        display: flex;
        flex-direction: row;
      }
      @include breakpoint(lg) {
        display: flex;
        flex-direction: row;
      }
    }

    &__box {
      margin-top: 32px;
      margin-bottom: 32px;
      @include breakpoint(sm) {
        margin-left: 32px;
        margin-right: 32px;
      }
      @include breakpoint(md) {
        margin-left: 32px;
        margin-right: 32px;
      }
      @include breakpoint(lg) {
        margin-left: 32px;
        margin-right: 32px;
      }
    }

    &__number {
      font-size: 2rem;
      font-weight: 700;
      color: $dark-purple;
      span{
        font-weight: 500;
        font-size: 1.25rem;
        color: black
      }
    }
  }

  &__bottom {
    &__left,
    &__right {
      @include breakpoint(md) {
        padding-right: 40px;
      }
      @include breakpoint(lg) {
        padding-right: 40px;
      }
    }

    @include breakpoint(md) {
      display: flex;
      flex-direction: row;
    }
    @include breakpoint(lg) {
      display: flex;
      flex-direction: row;
    }

    p {
      margin-top: 40px;
      margin-bottom: 40px;
      @include breakpoint(md) {
        margin-top: 0;
      }
      @include breakpoint(lg) {
        margin-top: 0;
      }
    }

    &__title {
      color: $primary;
      font-weight: 700;
      font-size: 2rem;
    }
  }
}
