@import "abstracts/variables";

.animatedad {
  height: 50vh;
  background: $primary;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}