@import "abstracts/variables";
@import 'abstracts/breakpoints';

.animatedad {
  height: 50vh;
  background: $primary;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  position: relative;

  @include breakpoint(xs){
    font-size: 2rem;
}

  &__text{
    z-index: 2;
    text-align: center;
  }

  &__icon{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:$dark-purple;
    height:400px;
    z-index: 1;
    opacity: 0.25;

    #icon{
      height:100%;
    }
  }
}