@import "abstracts/variables";
@import "abstracts/breakpoints";

.instruction {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  @include breakpoint(xs) {
    height: fit-content;
    padding: 16px;
  }
  @include breakpoint(sm) {
    height: fit-content;
    padding: 16px;
  }
  @include breakpoint(md) {
    height: fit-content;
    padding: 16px;
  }

  &__main {
    background: $light-purple;
    color: $primary;
    font-size: 2rem;
    font-weight: 700;
    padding: 24px;
    border-radius: 40px;
    margin-bottom: 24px;
  }

  &__title {
    font-size: 4rem;
    font-weight: 700;
    background: linear-gradient(29.44deg, #8057c5 7.23%, #ff635e 91.35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;

    @include breakpoint(xs) {
      font-size: 2rem;
    }
  }

  &__blocks {
    display: flex;
    flex-direction: row;

    @include breakpoint(xs) {
      flex-direction: column;
    }
    @include breakpoint(sm) {
      flex-direction: column;
    }
    @include breakpoint(md) {
      flex-direction: column;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    max-width: 500px;
    width: 100%;
    justify-content: space-between;
    margin-left: 8px;
    margin-right: 8px;

    @include breakpoint(xs) {
      max-width: 300px;
      justify-content: center;
      height: 400px;
    }
    @include breakpoint(sm) {
      max-width: 500px;
      justify-content: center;
      height:fit-content;
      margin-top: 24px;
      margin-bottom: 24px;
    }
    @include breakpoint(md) {
      max-width: 500px;
      justify-content: center;
      height:fit-content;
      margin-top: 24px;
      margin-bottom: 24px;
    }

    &__title {
      color: $dark-purple;
      font-weight: 700;
      font-size: 1.5rem;
      text-align: center;
    }

    &__text {
      font-size: 1.5rem;
      color: $text-light;
      text-align: center;
    }

    &__image {
      width: 100%;
      @include breakpoint(xs) {
        max-width: 315px;
      }

      img {
        width: 100%;
      }
    }
  }
}
