@import 'abstracts/variables';

.intro{
    &__persuade{
        height:100vh;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $grey-light;

        &__title{
            display:flex;
            flex-direction: column;
            align-content: center;
            font-size: 3rem;
            font-weight: 700;
            text-align: center;
            color:$dark-purple;
        }
    }
    &__return{
        height:100vh;
    }
    &__money{
        height:100vh;
    }
}