@import 'abstracts/variables';

.intro{
    &__persuade{
        height:100vh;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $grey-light;

        &__title{
            display:flex;
            flex-direction: column;
            align-content: center;
            font-size: 3rem;
            font-weight: 700;
            text-align: center;
            color:$dark-purple;
            margin-bottom: 40px;
        }

        &__image{
            display:flex;
            flex-direction: row;
            width:fit-content;
            height:200px;

            img{
                width:100%;
                height:100%;
                margin-left: 8px;
            }
        }
    }
    
    &__return{
        height:100vh;
        background: $grey-light;
    }
    &__money{
        height:100vh;
        background: $grey-light;
    }
}