@import "abstracts/variables";
@import "abstracts/breakpoints";

.intro {
  background: $grey-light;
  padding:16px;
  
  &__persuade {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoint(xs) {
      height: 50vh;
    }
    @include breakpoint(sm) {
      height: 50vh;
    }

    &__title {
      display: flex;
      flex-direction: column;
      align-content: center;
      font-size: 3rem;
      font-weight: 500;
      text-align: center;
      color: $dark-purple;
      margin-bottom: 80px;
      @include breakpoint(xs) {
        margin-bottom: 24px;
      }
    }

    &__image {
      display: flex;
      flex-direction: row;
      height: 296px;
      @include breakpoint(xs) {
        height: 120px;
      }
      @include breakpoint(sm) {
        height: 200px;
      }

      img {
        width: 100%;
        height: 100%;
        margin-left: 8px;

        @include breakpoint(xs) {
          margin-left: 0;
          margin-bottom: 8px;
        }
      }
    }
  }

  &__return {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: $text-light;

    @include breakpoint(xs) {
      height: 100vh;
    }
    @include breakpoint(sm) {
      height: 100vh;
    }
    @include breakpoint(md) {
      height: 100vh;
    }

    &__highlight {
      color: $primary;
    }
  }

  &__money {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include breakpoint(xs) {
      justify-content: space-around;
      height: fit-content;
    }
    @include breakpoint(sm) {
      justify-content: space-around;
      height: fit-content;
    }
    @include breakpoint(md) {
      justify-content: space-around;
      height: fit-content;
    }

    &__main {
      background: $light-purple;
      color: $primary;
      font-size: 2rem;
      font-weight: 700;
      padding: 24px;
      border-radius: 40px;
      text-align: center;
      margin-bottom: 24px;
    }

    &__title {
      font-size: 3rem;
      color: $dark-purple;
      text-align: center;
    }

    &__blocks {
      display: flex;
      flex-direction: row;
      text-align: center;

      @include breakpoint(xs) {
        flex-direction: column;
      }
      @include breakpoint(sm) {
        flex-direction: column;
      }
      @include breakpoint(md) {
        flex-direction: column;
      }
    }

    &__block {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      color: $dark-purple;
      margin-left: 8px;
      margin-right: 8px;
      min-height: 500px;
      width: 400px;
    }

    &__image {
      height: 120px;

      img {
        height: 100%;
      }
    }

    &__title {
      font-size: 2rem;
    }

    &__text {
      font-size: 1.5rem;
    }
  }
}
