@import "abstracts/variables";
@import "abstracts/breakpoints";

.tag {
  color: $white;
  font-weight: 700;
  padding: 16px 32px;
  background: linear-gradient(54.27deg, #8057c5 40.61%, #ff635e 78.72%);
  width: fit-content;
  border-radius: 12px 12px 0 0;
  position: absolute;
  top: -50px;
  right: 16px;
}

.pricing {
  margin: auto;
  padding-bottom: 24px;
  
  @include breakpoint(lg) {
    padding-left:24px;
    padding-right:24px;  
  }

  > * {
    margin-bottom: 40px;
  }

  &__cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @include breakpoint(xs) {
      flex-direction: column;
    }
    @include breakpoint(sm) {
      flex-direction: column;
    }
    @include breakpoint(md) {
      flex-direction: column;
      margin-top: 40px;
    }

    &__title {
      font-size: 2rem;
      font-weight: 700;
      padding-top: 40px;
      padding-bottom: 40px;
      text-align: center;
    }

    &__nofreetrial {
      border: 1px solid $primary;
      border-radius: 24px;
      background: $white;
      height: fit-content;

      @include breakpoint(xs) {
        margin-bottom: 80px;
      }
      @include breakpoint(sm) {
        margin-bottom: 80px;
      }
      @include breakpoint(md) {
        margin-bottom: 80px;
      }
    }

    &__freetrial {
      border-radius: 24px;
      border: 3px double transparent;
      background-image: linear-gradient(#fff, #fff),
        linear-gradient(54.27deg, #8057c5 40.61%, #ff635e 78.72%);
      background-origin: border-box;
      background-clip: content-box, border-box;

      display: flex;
      flex-direction: column;
      height: fit-content;
      position: relative;
    }

    &__container {
      display: flex;
      flex-direction: row;
      @include breakpoint(xs) {
        flex-direction: column;
      }
      @include breakpoint(sm) {
        flex-direction: column;
      }
      @include breakpoint(md) {
        flex-direction: column;
      }
    }
  }
}
