///@type Color
$primary: #8755de;
///@type Color
$transparent: transparent;
///@type Color
$white: #fff;
///@type Color
$text-dark: #1b1c15;
///@type Color
$text-medium: #181a1d;
///@type Color
$text-light: #575f74;
///@type Color
$text-extra-light: #8b93a6;
///@type Color
$text-blue: #131f36;
///@type Color
$grey-medium: #d9d9d9;
///@type Color
$grey-light: #f5f6f6;
///@type Color
$light-purple: #f4f0ff;
///@type Color
$medium-purple: #7d7195;
///@type Color
$dark-purple: #39145d;