@import "abstracts/breakpoints";

.swiper {
  width: 100%;
  height: fit-content;
}

.swiper-wrapper{
  align-items: center;
}

.swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #fff;
  border-radius: 24px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height:200px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.block{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  
  &__review{
    @include breakpoint(xs) {
      font-size: 0.5rem;
    }
    @include breakpoint(sm) {
      font-size: 0.8rem;
    }
    @include breakpoint(md) {
      font-size: 1rem;
    }
  }

  &__stars{
    
    .icon{
      color: gold;
      @include breakpoint(xs) {
        font-size: 0.5rem;
      }
    }
  }

  &__name{
    font-size: 0.8rem;
    @include breakpoint(xs) {
      font-size: 0.5rem;
    }
    @include breakpoint(sm) {
      font-size: 0.5rem;
    }
  }
}