@import 'abstracts/variables';

.hero {
  display:flex;
  flex-direction: row;
  background: $light-purple;

  &__text{
    display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  height: 100%;
  padding: 80px;
  max-width: 50vw;
  width:100%;
  }

  &__image{
    display: flex;
    align-items: center;
    max-width: 50vw;
    width:100%;
    img{
      width:100%
    }
  }
  

  &__title {
    font-size: 3rem;
    background: radial-gradient(at top right,orange,hotpink,blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__subtitle{
    color:$dark-purple;
    font-size: 1.25rem;
  }

  &__zipcode{
    display:flex;
    flex-direction:row;
    align-items: center;
    background: #fff;
    height: 64px;
    width: 400px;
    height:100%;
    padding:8px;
    border-radius: 16px;

    #icon{  
      height:32px;
      margin:16px;
      color:$primary;
    }

    input{
      border:none;
      outline:none;
      font-size: 1.25rem;
    }

    button{
      border:none;
      background: $primary;
      color:#fff;
      padding:24px;
      border-radius: 16px;
      font-size: 1.25rem;
      outline:none;
      cursor:pointer
    }
  }

  &__download{
   display:flex;
   flex-direction: row;
  }
}
