@import "abstracts/variables";
@import "abstracts/breakpoints";

.howitworks{
    padding: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: $grey-light;

    @include breakpoint(xs){
        padding: 160px 24px 24px 24px;
    }
    @include breakpoint(sm){
        padding: 160px 24px 24px 24px;
    }
    @include breakpoint(md){
        padding: 160px 24px 24px 24px;
    }

    &__title{
        color:$dark-purple;
        font-size: 4rem;
        text-align: center;

        @include breakpoint(xs){
            font-size: 3rem;
        }
        @include breakpoint(sm){
            font-size: 3rem;
        }
    }

    &__subtitle{
        color:$text-light;
        font-size: 2rem;
        font-weight: 500;
        margin-top: 16px;
        margin-bottom: 80px;
        text-align: center;

        @include breakpoint(xs){
            font-size: 1rem;
        }
        @include breakpoint(sm){
            font-size: 1.5rem;
        }
    }

    &__type1{
        display: flex;
        flex-direction: row;
        margin-bottom: 160px;
    }

    &__type2{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 160px;
    }

    &__type1, &__type2{
        @include breakpoint(xs){
            flex-direction: column;
        }
        @include breakpoint(sm){
            flex-direction: column;
        }
    }

    &__text{
        padding:40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        @include breakpoint(xs){
            padding:0;
        }
        @include breakpoint(sm){
            padding:0;
        }

        >*{
            margin-bottom: 24px;
        }

        &__title{
            color: $dark-purple;
            font-size: 3rem;

            @include breakpoint(xs){
                font-size: 2rem;
            }
            @include breakpoint(sm){
                font-size: 2rem;
            }
        }

        &__description{
            font-size: 1.25rem;
        }
    }

    &__image{
        width: 100%;

        img{
            width: 100%;
        }
    }
}