.intro{
    &__persuade{
        height:100vh;
        padding-left: 80px;
        padding-right:80px;
        display:flex;
        flex-direction: column;
        align-items: center;

        &__title{
            display:flex;
            flex-direction: column;
            align-items: center;
            font-size: 5rem;
        }
    }
    &__return{
        height:100vh;
    }
    &__money{
        height:100vh;
    }
}