@import "abstracts/variables";
@import "abstracts/breakpoints";

.gradienttext {
  background: linear-gradient(29.44deg, #8057c5 7.23%, #ff635e 91.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradienttextpurple {
  background: linear-gradient(64.84deg, #8057c5 16.66%, #be80d5 65.73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  color: $dark-purple;
  text-align: center;

  @include breakpoint(xs) {
    font-size: 3rem;
  }
  @include breakpoint(sm) {
    font-size: 3rem;
  }
}

.subtitle {
  font-size: 2rem;
  font-weight: 500;
  color: $text-light;
  text-align: center;

  @include breakpoint(xs) {
    font-size: 1.5rem;
  }
  @include breakpoint(sm) {
    font-size: 1rem;
  }
}
